a {
  color : #fff !important;
}
body{
  overflow: auto;
}

.font52{
  font-size: 52px;
}
.headerFont {
  font-family: brush script MT;
}
.fmtText {
  color : white;
}
.fmtFont{
  font-family: brush script MT;
}
.right {
  float: right;
}
.left {
  float: left;
}
.center {
  text-align: center;
}
.overlap {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 10px;
}
.background-helper {
  background-color: #000;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}
.background {
  width: 100%;
  height: 100vh;
  background: url('./kitchen.jpeg') no-repeat;
  background-size: 100% 100%;
  opacity: 0.7
}
.buttonColor {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+40,05abe0+100;Blue+3D+%23+16 */
background: #87e0fd; /* Old browsers */
background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
}
.abs {
  position: absolute;
}
/*main page features*/
.mainBanner {
  text-align: center;
  position: absolute;
  z-index: 1;
  margin-top: -440px;
}
.bannerButtons {
  margin-top: -230px;
  position: absolute;
  width: 100%;
}
.feature-div {
  border-radius: 5px;
  margin: 30px 0px;
  min-height: 200px;
}
.feature-img {
  width: 80px;
  height: 80px;
}
.cbContainer {
  position: absolute;
  margin-top: -100px;
}
.circleButton {
  border-radius: 40px;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  z-index: 1;
  border: solid 2px #e0e0e0;
  font-size: 60px;
  color: royalblue;
}
.links {
  padding: 10px;
  font-size: 16px;
  top:10px;
  width: 97%
}
.menuLink {
  color: royalblue !important;
  text-align: center;
  border : 2px solid #e0e0e0;
  border-radius: 5px;
  border-color: royalblue;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 8px 27px;
  display: block;
  font-size: 20px;
  text-decoration: none !important;

}
.menuLink:hover {
  color: #fff!important;
  background-color: royalblue !important;
  border-color: royalblue !important;

}
.imageContainer {
  height: 550px;
  display: table;
  width: 100%;
  padding: 0;
  opacity: .6;
  background-image: url("../../static/Fresh_Foods.jpg");
}
.imgContainerHelper {
  height: 550px;
  display: table;
  width: 100%;
  position: absolute;
  background-color: #000;
  z-index: -1;
}
.imageContainer div {
  position: absolute;
  z-index: 1;
  color: #fff;
  font-size: 24px;
  top: 60px;
}
.imageContainer img{
  width: 100%;
  height:100%
}
.imageContainer h2 {
  position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}
.imageContainer h2 span.subtitle {
  color: white;
  font: bold 40px/70px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
.spacer {
  padding:0 5px;
}
.parallax {
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hoverTransition {
  transition: all 0.2s linear; */
  -moz-transition: all 0.2s linear;
  /* -webkit-transition: all 0.2s linear;*/
}
/*Menu css*/
.foodType {
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  color: black !important;
}


/*Footer*/
.footer {
  width: 100%;
  min-height: 60px;
  background-color: #e0e0e0;
  display: table
}
